<%- include('partials/header') %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title || 'Default Title' %></title>
    <link rel="stylesheet" href="../style.css">
    <!-- Other meta tags and stylesheets -->
</head>
<body>

<%- body %>

</body>
</html>
